body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top-container{
    background-color: #e4f6e4;
    padding-top: 70px;
}
.middle-container{
    margin-top: 50px;
}
.bottom-container{
    background-color: #e4f6e4;
    padding: 30px 0 10px;
}
h1{
    color: #66bfbf;
    font-size: 500%; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66bfbf;
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
hr{
    width: 5%;
    border: dotted #e9efef 8px;
    border-bottom: none;
    margin: 50px auto 80px;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    text-decoration: none;
}
a:hover{
    color: #93a6a5;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 260px;
    bottom: 500px;
}
.profile{
    width: 32%;
    margin: 20px auto 30px auto;
    line-height: 2;
}
.institute{
    color: rgb(0, 184, 153);
}
.skills{
    margin-top: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-me{
    line-height: 2;
    margin-bottom: 50px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #777b77;
    font-size: 0.75rem;
    padding-top: 10px;
  }